@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fafafa;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  color: #222;
}

/* i {
  color: #1a1a1a;
} */

h6 {
  font-weight: 700;
  font-size: 14px;
}

p {
  font-size: 16px;
  color: #636160;
}

body {
  width: 100%;
  background: #fafafa;
}

/* Icons */
#navbar-icons li i {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar-icons li i:hover {
  color: #FF5E03;
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  box-shadow: 0 5px 15px rgba(0, 0 ,0 ,0.05);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background: #fafafa;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style-type: none;
  position: relative;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #FF5E03;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #FF5E03;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar-icons {
  display: flex;
  align-items: center;
}

#navbar-icons li {
  list-style-type: none;
}

/* superHero */
#hero {
  background-image: url("img/hero.png");
  position: relative;
  height: 87.5vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-text {
  padding-top: 40px;
}

.hero-text h1 {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 3%;
  font-size: 70px;
}

.hero-text h1 span {
  color: #f15800;
}

.hero-text h6 {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #7c7c7c;
}

.hero-text p {
  width: 100%;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  padding: 14px 38px;
  background: #1a1a1a;
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all .6s;
}

.btn:hover{
  border: 2px solid #1a1a1a;
  background: transparent;
  color: #f15800;
}

.btn i {
  margin-left: 6px;
}

/* brands yang keren */

.brands {
  padding: 30px 14%;
  background: #0b0b0b;
}

.main-brands{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.brands-c img {
  width: 100%;
  height: auto;
  max-width: 100px;
}

/* featured products */

#product1 {
  padding-top: 82px;
  text-align: center;
  margin-bottom: 10%;
}

#product1 p {
  padding-bottom: 42px;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 20%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #dbdbdb;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.4s;
}

#product1 .pro img:hover {
  transform: scale(1.05);
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
  transform: all 0.1s;
}

#product1 .pro .des span:hover {
  color: #0b0b0b;
}

.pro .des h5 {
  padding-top: 4px;
  color: #222;
  font-size: 18px;
  transition: all 0.2s;
}

.pro .des h4 {
  padding-top: 7px;
  font-weight: 700;
  color: #1a1a1a;
}

.pro .des h5:hover {
  color: #f15800;
}

#shopping-cart {
  display: inline-block;
  color: #1a1a1a;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f2f2f2;
  font-weight: 500;
  border: 1px solid #1a1a1a;
  position: absolute;
  bottom: 20px;
  right: 10px;
  transition: 0.1s ease;
}

#shopping-cart:hover {
  color: #FF5E03;
  border: 1px solid #FF5E03;
}

.star i {
  color: #FF5E03;
}

/* section */

.main-section {
  display: flex;
  justify-content: center;
}

.section-container {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 25px;
  flex-wrap: wrap; /*----------------------------------------------------------------------------------------------- */
}

.section-container button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px 12px;
  transition: 0.2s ease;
  background: #ffffff;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

.section-container button:hover {
    background: #fe7b2f;
    color: #f5f5f5;
    border-color: #fe7b2f;
}

.s-accessories,
.s-women,
.s-men {
  border: 1.5px solid #0b0b0b;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.s-accessories:hover,
.s-women:hover,
.s-men:hover {
  border-color: #f15800;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.s-women {
  background: url(img/section/section-women.png);
  background-position:right;
  background-size:contain;
  background-color: #f2f0f1;
  background-repeat: no-repeat;
  grid-row: 1 / 3;
}

.s-men {
  background: url(img/section/section-men.png);
  background-position:right;
  background-size:contain;
  background-color: #f2f0f1;
  background-repeat: no-repeat;
}

.s-accessories {
  background: url(img/section/lv.png);
  background-position:right;
  background-size:contain;
  background-color: #f2f0f1;
  background-repeat: no-repeat;
}

.section-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

.section-child h4 a{
  font-weight: 400;
  transition: 0.3s ease;
  color: #3c3c3c;
}

.section-child h2 a{
  font-weight: 450;
  transition: 0.3s ease;
  color: #1a1a1a;
}

.section-child h2 a:hover,
.section-child h4 a:hover {
  color: #f15800;
}

/* banner */

.banner {
  margin-top: 10%;
  width: 100%;
  height: 80vh;
  background: url(img/banner/banner-bg.jpg);  
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: #fef2dc;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10%;
  line-height: 4em;
}

.banner-container h6 {
  font-weight: 500;
  letter-spacing: 3px;
  color: #fe7b2f;
}

.banner-container .btn {
  line-height: normal;
}

.banner-container h1 span {
  color: #ff7423;
}

/* image slider */

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}

.text .text-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 4%;
}

.text .text-first h6 {
  font-weight: 400;
  font-size: 15px;
  color: #3c3c3c;
  letter-spacing: 3px;
}

.text .text-first h3 {
  font-size: 2.2rem;
  color: #f15800;
}

.text .text-first h3:hover {
  color: #f87c35;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper .slide-button:hover {
  background: #eeeeee;
  color: #1a1a1a;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -20px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar{
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.slider-wrapper .image-list .image-item:hover {
  opacity: 0.9;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: pointer;
}

.slider-scrollbar .scrollbar-track:active {
  height: 3px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Footer */

.footer-container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #1a1a1a;
  padding: 70px 0;
  margin-top: 12%;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}



.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f15800;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #7c7c7c;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #f15800;
	background-color: #f2f0f1;
}

.logo-dot {
  color: #FF5E03;
  font-size: 20px;
}

/*responsive part*/

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}